@font-face {
    font-family: myFirstFont;
    src: url(/fonts/arcadeclassic/ARCADECLASSIC.TTF);
    /* src: url(/fonts/amiga_forever/amiga4ever\ pro2.ttf); */
    font-weight: 100;
}

body {
    background-size: 300px 200px;
    /* background-image: url("/images/bgImg.png"); */
    /* background-color: black; */
    background-image: url("/images/myCanvas (17).png");
    background-repeat: repeat;
    background-attachment: fixed;
}

* {
    margin: 0;
    font-family: myFirstFont, Arial, Helvetica, sans-serif;
}

.active .hover-link {
    color: rgb(0, 255, 179);
    font-size: 120%;
}

.hover-link {
    display: inline-block;
    position: relative;
    color: blanchedalmond;
    transition: color 0.6s linear;
}

.hover-link:hover {
    color: greenyellow;
}

.hover-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blanchedalmond;
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
}

.hover-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
    font-size: 150%;
}

.selected {
    color: chartreuse;
}

.rounded_t {
    border-radius: 50%;
    border: solid 2px grey;
    overflow: hidden;
}

.lowing {
    color: honeydew;
}

.info-card {
    height: 100%;
    color: chartreuse;
}

.blur {
    background-color: rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(5px);
    border-radius: 1em;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.637) 0px 0px 1em;
}

.frost {
    backdrop-filter: blur(3px);
}

.glow-border {
    box-shadow: 0 0 0.5em #aaa;
}

.tool-card {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.555);
    box-shadow: rgba(255, 255, 255, 0.472) 0px 0px 0.2em;
}

.links-card {
    border: solid 0.5px rgba(250, 250, 210, 0.705);
    background-color: rgba(0, 0, 0, 0.237);
}

.linkX {
    color: lightgoldenrodyellow;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.237);
    backdrop-filter: blur(5px);
    border: solid 1px rgba(250, 250, 210, 0.383);
}

.linkX:hover {
    background-color: rgba(250, 250, 210, 0.664);
    color: rgb(9, 9, 44);
}

.border-even {
    border-radius: 1px 1em;
}

.border-odd {
    border-radius: 1em 1px;
}